@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
footer,
.logo {
    cursor: default;
}

footer a {
    text-decoration: none;
    color: rgb(200, 200, 200);
}

/*Pre-loader*/
.loader {
    background-color: #282828;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.box {
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.box .b {
    border-width: 4px;
    border-radius: 50%;
    border-left: 4px solid;
    border-right: 4px solid;
    border-top: 4px solid transparent !important;
    border-bottom: 4px solid transparent !important;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    animation: ro 2s ease-in-out infinite;
}

.box .b1 {
    border-color: #4a69bd;
    width: 120px;
    height: 120px;
}

.box .b2 {
    border-color: #f6b93b;
    width: 100px;
    height: 100px;
    animation-delay: 0.1s;
}

.box .b3 {
    border-color: #009688;
    width: 80px;
    height: 80px;
    animation-delay: 0.2s;
}

.box .b4 {
    border-color: #34495e;
    width: 60px;
    height: 60px;
    animation-delay: 0.3s;
}

@keyframes ro {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(-180deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

.ready {
    color: white;
    text-align: center;
    margin-top: 210px;
}

/*Navigation Bar*/
.navbar {
    padding-bottom: 25px;
}

ul {
    z-index: 3;
    width: 100%;
    position: fixed;
    background-color: transparent;
    list-style-type: none;
    color: black;
    transition: 0.3s ease-in-out;
}

ul:active {
    background-color: black !important;
    color: white !important;
}

.sticky {
    background-color: black;
    color: white;
}

.menu li :not(.logo) {
    font-size: 20px;
    padding: 15px 5px;
    white-space: nowrap;
}

.logo {
    padding: 25px 0 15px 0;
    transition: 0.2s linear;
    line-height: 80px;
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 0 10px;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu .item {
    margin: 0 0 10px 0;
}

.toggle {
    margin: 0 200px 0 0;
    cursor: pointer;
    order: 1;
    margin-right: 50px;
    filter: invert(1);
    transition: 0.2s ease-in-out;
}

.item {
    width: calc(100% - 40px);
    order: 3;
    display: none;
    padding: 15px 10px !important;
    cursor: pointer;
    transition: 0.2s linear;
}

.item:active {
    background-color: white;
    color: black;
}

.item.active {
    display: block;
}

@media all and (min-width: 1200px) {
    .logo {
        margin-left: 200px;
    }

    .item {
        text-align: center;
        display: block;
        width: 120px;
        right: 200px;
        margin: 0;
        position: relative;
    }
}

/*NavBar Styling End*/

/*Social Links*/
div.connect {
    position: relative;
    display: inline-block;
    width: 100%;
    top: 125px;
}

.center {
    font-size: 15px;
    text-align: center;
    margin-bottom: -50px;
}

.social {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 30px;
    padding: 15px 10px 10px 10px;
    /*Top Right Bottom Left*/
    margin: 50px 0 25px 0;
    transition: 0.2s color linear, 0.2s color linear;
    color: rgb(185, 185, 185);
}

p.social {
    display: inline;
}

p.social:active {
    color: black;
}

/* Footer */
footer {
    background-color: #282828;
    color: rgb(175, 175, 175);
    width: 100%;
    height: 60px;
    display: table;
    top: 200px;
    bottom: 0;
    position: relative;
    text-align: center;
    padding: 25px 10px;
}

footer div {
    font-size: 13px;
}

div#totop {
    width: 48px;
    height: 48px;
    position: fixed;
    right: 25px;
    bottom: 100px;
    background-color: #282828;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: none;
    visibility: hidden;
    transition: 0.3s ease-in-out background-color, 0.3s ease-in-out box-shadow;
    animation: popup 0.25s ease-in-out 1;
}

@keyframes popup {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

div#totop img {
    transform: rotate(-90deg);
    padding: 10px;
    width: 46px;
}

/*Statistics Section*/
div.stats {
    top: 150px;
    position: relative;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.stats div {
    width: 30%;
    text-align: center;
    display: inline-block;
    padding: 0;
    margin: 0;
}

div.stats h2 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;
    letter-spacing: 10px;
}

.stats div:not(:last-child) {
    border-right: #999 solid 1px;
}

.stats div img {
    width: 48px;
}

.stats div h3 {
    margin: 25px 0 10px 0;
    font-size: 14px;
}

.stats div h3::after {
    content: ' \002B';
    color: #777;
}

.stats div:nth-of-type(2) h3::before {
    content: "₹ ";
}

.stats div p {
    font-weight: 100;
    color: grey;
    font-size: 12px;
}

div.parallax {
    /* Set a specific height */
    height: 384px;
    width: 100%;
    top: 150px;
    margin-bottom: 50px;
    max-width: 100%;
    position: relative;
}

div.parallax .parallax_img {
    /* Set a specific height */
    height: 100%;
    width: 100%;
    max-width: 100%;
    position: relative;
    filter: brightness(50%);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.parallax_text {
    color: white;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    left: 50%;
}

div.parallax_text h2 {
    padding-bottom: 25px;
    letter-spacing: 5px;
}

/**/

form {
    background-color: #282828;
    width: 100%;
    color: white;
    padding: 40px 25px;
    position: relative;
    top: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: 0.3s ease-in-out;
}

.validation {
    margin-top: 5px;
    font-size: 13px;
    width: calc(100% - 15px);
    display: inline-block;
    color: rgba(244, 67, 54, 0.9);
    display: none;
}

.backend {
    display: block !important;
}

input,
select,
div.radio_inputs {
    margin: 15px 0px;
}

input[type=radio] {
    margin: 5px 10px 5px 15px;
}

input::placeholder {
    color: grey;
    font-size: 16px;
}

input:not([type=radio]):not([type=submit]):not([type=button]):not([type=checkbox]) {
    width: calc(100% - 15px);
    padding: 0 0 0 10px;
    height: 35px;
    background-color: transparent;
    border: none;
    font-size: 15px;
    border-bottom: 1.5px solid rgba(200, 200, 200, 0.7);
    transition: 0.4s linear border-bottom, 0.2s linear;
    color: rgba(255, 255, 255, 0.7);
}

input:not([type=radio]):not([type=submit]):not([type=button]):not([type=checkbox]):focus {
    border-width: 1.5px;
    background-color: #F7F7F7;
    border-radius: 4px;
    border-bottom: 2px solid #1565C0;
    font-size: 16px;
    height: 40px;
    color: black;
}

div.buttons {
    overflow: hidden;
}

input[type=submit],
input[type=button] {
    background-color: black;
    height: 50px;
    padding: 0 50px;
    color: white;
    transition: 0.2s ease-in-out;
    line-height: 50px;
    border-width: 0px;
    font-size: 16px;
    margin: 20px 0px 0px 50%;
    transform: translate(-50%, 0%);
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
}

input:disabled {
    cursor: not-allowed;
}

/*Events Page Styling*/
div.bgimg {
    width: 100%;
    margin-top: -75px;
    height: calc(100vh + 50px);
    overflow: hidden;
    color: white;
    text-align: center;
}

div.bgimg img {
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    left: -10px;
    position: relative;
    filter: blur(7px);
    object-fit: cover;
}

div.bgimg div.text {
    position: absolute;
    top: calc(50% + 20px);
    left: 50%;
    transform: translate(-50%, -50%);
}

div.bgimg h3 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 5px;
}

div.bgimg h1 {
    margin: 20px 10px 0 10px;
    letter-spacing: 10px;
    font-size: 20px;
}

div.bgimg p {
    margin: 20px 0 0 50%;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    width: 85% !important;
    transform: translateX(-50%);
}

div.bgimg img.arrow {
    bottom: 25px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 28px;
    height: 28px;
    filter: blur(0);
    animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
    50% {
        bottom: 75px;
    }
}

div.landing img {
    filter: blur(6px) brightness(60%);
}

div.landing #coming_soon {
    letter-spacing: 10px;
    font-size: 18px;
    border-top: white solid 1px;
    padding-top: 35px;
}

div.landing div.countdown {
    margin-top: 20px;
}

div.landing div.countdown div {
    float: left;
    width: 32%;
}

div.landing div.countdown div h2 {
    font-size: 25px;
    letter-spacing: 25px;
    padding-left: 12px;
    text-indent: 12px;
}

div.landing div.countdown div h4 {
    font-weight: 500;
    padding: 5px;
    text-indent: 5px;
    margin-top: 15px;
    font-size: 12px;
}


.grid-container {
    width: 100%;
    margin-left: 50%;
    margin-top: 100px;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
    padding: 5px 10px 5px 5px;
}

.grid-container div {
    background-color: #282828;
    color: white;
    border: #282828 solid 1px;
    padding: 20px;
    transition: 0.3s ease-in-out;
}

.grid-container div:active {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    transition: 0.3s ease-in-out;
    background-color: #323232;
}

.grid-container div h3 {
    font-weight: 500;
    margin-top: 5px;
    letter-spacing: 2px;
    font-size: 14px;
}

.grid-container div h5 {
    font-size: 13px;
    font-weight: 400;
}

.grid-container div p {
    font-size: 12px;
    margin-top: 5px;
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

@media(hover: hover) and (pointer: fine) {
    ul:hover {
        background-color: black !important;
        color: white !important;
    }

    .item:hover {
        background-color: white;
        color: black;
    }

    .accordion:hover {
        background-color: #ccc;
    }

    .grid-container div:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
        transition: 0.3s ease-in-out;
        background-color: #323232;
    }

    div.col img:hover {
        filter: blur(0);
        cursor: pointer;
    }

    div#totop:hover {
        background-color: #000;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    }

    .select-items div:hover {
        background-color: rgba(0, 0, 0, 0.1);
        transition: 0.3s ease-in-out;
    }

    p.social:hover {
        color: black;
    }
}

h2.heading {
    text-indent: 25px;
    letter-spacing: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: 100px;
}

p.sub.heading {
    text-indent: 25px;
    font-weight: 400;
    margin:10px 25px -50px 25px;
    text-align: center;
}

div.flashes {
    margin: 100px 25px -75px 25px; 
    border: 1px solid black; 
    padding: 10px; 
}

div.gallery {
    top: 100px;
    position: relative;
    width: calc(100% - 30px);
    display: block;
}

div.gallery div.col {
    margin: 0px 15px;
    height: 250px;
    position: relative;
    width: 100%;
}

div.col div.img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div.col img {
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    margin: -10px 0px 0px -10px;
    filter: blur(5px);
    transition: 0.3s ease-in-out;
    object-fit: cover;
}

div.col img:active {
    filter: blur(0px);
    cursor: pointer;
}

div.col div.text-block {
    position: absolute;
    max-width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 10px;
    word-wrap: break-word;
}

div.event_desc {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 25px;
    position: relative;
    top: 80px;
    margin: 0px 0px 10px 50%;
    transform: translateX(-50%);
    display: none;
    transition: 0.2s ease-in-out;
    width: 90%;
    font-size: 15px;
}

div.event_desc p {
    display: none;
    color: rgba(0, 0, 0, 0.7);
    line-height: 25px;
}

div.event_desc p b {
    margin: 5px 0px;
    font-weight: 100;
    color: rgba(0, 0, 0, 1);
}

.active_event {
    width: 100%;
    background-color: #37474F;
    height: 2px;
    display: none;
    margin: 15px 0px;
}
