{% extends "base.html" %}

{% block head %}
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }

    $(document).ready(function () {
        set_event();
        set_fields()
    });

    function set_event() {
        var list = {{ evlist| tojson
    }};
    var event_id = {{ registration['event_id'] }} - 1;
    event_selected = list[event_id][1];
    $("#event_name").html(event_selected);
}

    function set_fields() {
        grpname = $("#grpname").html();
        if (grpname == '') {
            $(".grpname").hide();
        }
        user = $("#user").html();
        if (user == '') {
            $(".user").hide();
        }
    }

</script>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table{
        width:100%;
        table-layout: fixed;
    }

    th,
    td {
        padding: 10px 10px;
        text-align: left;
        word-wrap: break-word;
    }

    tr:nth-child(even) {
         background-color: #f6f6f6;
      }

    h2.heading {
        font-size: 17px;
        letter-spacing: 16px !important;
        margin: 0px 25px;
        text-overflow: clip;
        overflow: hidden;
    }

    p.sub.heading {
        margin: 10px 0px 10px 0px !important;
        font-size: 15px;
    }

    @media screen and (min-width: 600px) and (max-width: 949px) {
        table {
            width: 60%;
            margin-left: 50%;
            transform: translateX(-50%);
        }
        th,
        td {
            padding: 10px 20px;
            text-align: left;
        }

        h2.heading {
            font-size: 25px;
        }

        p.sub.heading {
            margin: 0px !important;
        }

    }

    @media screen and (min-width: 950px) {
        table {
            width: 50%;
            margin-left: 50%;
            transform: translateX(-50%);
        }
        th,
        td {
            padding: 10px 20px;
            text-align: left;
        }

        h2.heading {
            font-size: 25px;
        }
    }
</style>

{% endblock%}
{% block content %}

{% if registration['order_id'] != Null %}

<h2 class="heading">PAYMENT {{ status }} </h2>
<br>
<p class="sub heading">ORDER ID : {{ registration['order_id'] }}</p>
<p class="sub heading">TRANSACTION ID : {{ txn_id }} </p>
<p class="sub heading">AMOUNT : INR {{ registration['amt'] }} </p>
<p class="sub heading">TRANSACTION DATE : {{ registration["date_registered"]}} </p>

{% if resp_code != "1"%}
<p class="sub heading">{{ resp_msg }} </p>
{% endif %}

{% if resp_code == "1"%}

<h2 class="heading">REGISTRATION DETAILS</h2>
<br><br>
<table>
    <tr>
        <th> NAME : </th>
        <td>{{ registration["name"] }}</td>
    </tr>
    <tr>
        <th> EMAIL : </th>
        <td>{{ registration["email"] }}</td>
    </tr>
    <tr>
        <th> PHONE NO : </th>
        <td>{{ registration["phno"] }}</td>
    </tr>
    <tr>
        <th> USER ID : </th>
        <td>{{ registration["cust_id"] }}</td>
    </tr>

    <tr>
        <th> TICKET ID : </th>
        <td>{{ registration["order_id"] }}</td>
    </tr>

    <tr>
        <th> Institute Name : </th>
        <td>{{ registration["clgname"] }}</td>
    </tr>

    <tr>
        <th> EVENT ID : </th>
        <td>{{ registration["event_id"] }}</td>
    </tr>

    <tr>
        <th> EVENT NAME : </th>
        <td id="event_name"></td>
    </tr>

    <tr>
        <th> TEAM MEMBERS : </th>
        <td>{{ registration["team"] }}</td>
    </tr>

    <tr class="grpname">
        <th> GROUPNAME : </th>
        <td id="grpname">{{ registration["grpname"] }}</td>
    </tr>

    <tr class="user">
        <th> REGISTRATION USER : </th>
        <td id="user">{{ registration["user"] }}</td>
    </tr>
</table>
{% endif %}

{% else %}
<h2 class="heading">ERROR</h2>
<br>
<p class="sub heading">There was an error. Registration with the provided Order_ID was not found.</p>
{% endif %}

{% endblock%}