<html>

<head>
    <title>Payment Page</title>
</head>

<body>
        <h1 style="text-align: center;">Please do not refresh this page...</h1>
        <h2 style="text-align: center;">Redirecting you to Secure PayTM payment Gateway...</h2>
        <p>{{ paytmParams }}</p>
    <form method="post" action={{ url }} name="paytm">
               <input type="hidden" name="mid" value={{ mid }}>
               <input type="hidden" name="orderId" value={{ orderId }}>
               <input type="hidden" name="txnToken" value={{ txnToken }}>
    </form>
    <script type="text/javascript">
        document.paytm.submit();
    </script>
</body>

</html>